<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXeu2Gkn5zFoK8wXX0ENyNA92KMdTNsDs</string>
	<key>GCM_SENDER_ID</key>
	<string>605889586984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitglue.mobile</string>
	<key>PROJECT_ID</key>
	<string>fitglue-server-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>fitglue-server-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605889586984:ios:9375a364e0edb13650521d</string>
</dict>
</plist>